<!DOCTYPE html>
<html lang="ru">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-P7NR5N9F"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{partial "sticky-phone.html"}} {{if in .Site.Language "ru"}} {{partial
    "preheader.html" . }} {{ else }} {{partial "preheader-ua.html" . }}{{end}}{{
    partial "header.html"}}
    <main>
      <div class="hero-text">
        <h1>{{.Title}}</h1>
        <p>{{.Params.Description}}</p>
      </div>
      <div class="main-image">
        {{ with .Params.image }} {{ with resources.Get . }} {{ with .Resize
        "1200x webp q70" }}
        <img
          src="{{ .RelPermalink }}"
          alt="{{$.Params.imageText}}"
          loading="eager"
          fetchpriority="high"
        />
        {{ end }} {{ end }} {{ end }}
      </div>
    </main>
    <div class="markdown">{{.Content}}</div>
    {{if in .Site.Language "ru"}} {{ partial "star-rating.html" .}}{{partial
    "contacts.html" . }}{{ else }} {{ partial "star-rating-ua.html" .}}{{partial
    "contacts-ua.html" . }}{{end}} {{partial "footer.html" .}}
  </body>
</html>
