<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{partial "sticky-phone.html" . }} {{if in .Site.Language "ru"}} {{partial
    "preheader.html" . }} {{ else }} {{partial "preheader-ua.html" . }}{{end}}
    {{partial "header.html" . }}
    <div class="padding-main"></div>
    <main>{{block "main".}}{{end}}</main>
    <div class="markdown">{{.Content}}</div>
    {{if in .Site.Language "ru"}} {{ partial "star-rating.html" .}}{{ else }} {{
    partial "star-rating-ua.html" .}}{{end}}
    {{if in .Site.Language "ru"}} {{partial "contacts.html" . }} {{ else }}
    {{partial "contacts-ua.html" . }} {{end}} {{partial "footer.html" . }}
  </body>
</html>
