<!DOCTYPE html>
<html lang="ru">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{partial "sticky-phone.html"}} {{if in .Site.Language "ru"}} {{partial
    "preheader.html" . }} {{ else }} {{partial "preheader-ua.html" . }}{{end}}
    {{ partial "header.html"}}
    <div class="blog-padding">
      {{if in .Site.Language "ru"}}
      <h1>Полезная информация</h1>
      {{ else }}
      <h1>Корисна інформація</h1>
      {{end}}

<ul class="directory-list-container">
  {{ range sort (where site.RegularPages "Type" "directory") "Date" "desc" }}
    <a class="directory-link" href="{{ .Permalink }}">
      <li class="directory-list-post">
        <img class="directory-image" src="{{ .Params.image }}" alt="{{ .Params.imageText }}" />
        <div class="blog-list-post-text-container">
          <h3>{{ .Title }}</h3>
          <p>{{ .Params.Description }}</p>
        </div>
      </li>
    </a>
  {{ end }}
</ul>

    </div>
    {{if in .Site.Language "ru"}} {{partial "contacts.html" . }} {{ else }}
    {{partial "contacts-ua.html" . }} {{end}} {{partial "footer.html" .}}
  </body>
</html>
