{{ define "main" }}
<div class="hero-text">
  <h1>{{.Title}}</h1>
  <p>{{.Params.Description}}</p>
  {{if in .Site.Language "ru"}} {{ partial "telegram-form.html" . }} {{ else }}
  {{partial "telegram-form-ua.html" . }} {{end}}
</div>
<div class="main-image">

{{ with .Params.image }}
  {{ with resources.Get . }}
    {{ with .Resize "1200x webp q50" }}
      <img src="{{ .RelPermalink }}"
           alt="{{$.Params.imageText}}"
           loading="eager"
           fetchpriority="high">
    {{ end }}
  {{ end }}
{{ end }}

</div>
{{ end }}