.blog-padding{
    padding-top:9rem;
    text-align: center;
}
.blog-list-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: auto;
}
.blog-list-post {
    display: flex;
    justify-content:flex-end;
    border: 1px solid var(--blue);
    border-radius: 5px;
    padding: 1rem;
    width: 800px;
}
.blog-list-post img{
    width:8rem;
}
.blog-list-post-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.blog-list-post-text-container a {
}
.blog-list-post-text-container p{
}
@media (max-width: 900px){
    .blog-list-container{
        max-width: 95%;
    }
    .blog-list-post{
        width: 100%;
        align-items: center;
    }
    .blog-list-post img{
    }
}