/* Наши спецалисты */
.cities-carousel-container {
    height:100%;
    padding-bottom: 2em;
    overflow-x: hidden;
    max-width: 70vw;
    margin: auto;
    text-align: center;
  }
  .cities-carousel-container h2 {
    padding: 1em 0em;
    display: inline-block;
    position: relative;
  }
  .cities-carousel-container h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 18px;
    border-radius: 10px;
    background-color: #1d5d9b;
    left: 0px;
  }
  .city-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .city-block img {
    object-fit:contain;
    height: 30vh;
    width: 100%;
    box-shadow: 5px -5px 0px var(--blue);
    border-radius: 0 0 0 10px;
  }
  .city-block p {
    font-size: 0.9rem;
  }
  @media (max-width: 768px) {
    .splide{
      max-width: 98%;
    }
    .dcities-carousel-container {
      height: auto;
      max-width: 95%;
    }
    .city-block img {
      width: 95%;
    }
  }