.contacts {
  height: auto;
  max-width: 70%;
  margin: 1rem auto;
  border: 1px solid var(--accent);
  box-shadow: 0px 0px 5px var(--second);
  padding: 1em;
  border-radius: 3rem;
}
.contacts-container {
  display: flex;
  justify-content: center;
}
.contacts-numbers {
  line-height: 2em;
  text-align: center;
  padding-bottom: 1em;
}
.contacts-numbers h2 {
  padding: 1em 0;
  position: relative;
  display: inline-block;
}
.contacts-numbers h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: var(--second);
  left: 0px;
}
.contacts-numbers p {
  font-size: 1.2rem;
}
.contacts p a {
  font-size: 1.3rem;
}
@media (max-width: 1200px) {
  .contacts {
    height: auto;
    max-width: 95%;
  }
  .contacts-container {
    flex-direction: column;
  }
  .contacts-map iframe {
    width: 100%;
    height: 100%;
  }
}