.directory-list-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 70%;
    margin: auto;
}
.directory-link{
    width: 47%;
    margin-bottom: 2rem;
}
.directory-list-post {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--blue);
    border-radius: 5px;
    padding: 1rem;
    height: 100%;
}
.directory-image{
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 1149px) {
    .directory-link{
        width: 100%;
        margin-bottom: 2rem;
    }
}