/* Футер */ 
.footer {
  margin-top: 2em;
  height: auto;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(135deg, #001F3F 0%, #003366 50%, #0074D9 100%);
  align-items: center;
  padding: 1em 2em;
}
.footer-moz{
  color: lightgrey;
  width: 6rem;
  font-size: 0.8rem;
}
.footer-logo {
  padding-bottom: 1em;
  flex: 0 0 33%;
}
.footer-urls {
  display: flex;
  flex: 0 0 50%;
  justify-content: space-around;
}
.footer-logo a img{
  width: 250px;
}
.footer-services ul{
  list-style: none;
}
.footer-services ul li {
  color: white;
  margin-bottom: 0.6em;
  font-weight: 300;
}
.footer-services ul li a {
  color: white;
  font-weight: 300;
}
.footer-services ul li a:hover{
  color:lightslategray;
}
.footer-services {
  padding-bottom: 1em;
}
.year {
  text-align: center;
}
@media (max-width: 768px) {
  .footer {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo a img{
    width: 200px;
  }
  .footer-logo, .footer-services {
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
  }
}