/* Отзывы как отдельная страница */ 

.google-reviews-padding{
    padding:10rem 0 2rem 0;
    text-align: center;
}

/* Блок гугл-рейтинг */
.google-container{
    max-width: 70vw;
    margin: auto;
}
.google-rating
{
    max-width: 70%;
    margin: auto;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding:1.5rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 10px 0px var(--second);
    gap:2rem;
}
.google-stars{
    display: flex;
    flex-direction: column;
}
.google-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:-2rem;
}
.google-img img{
    width: 7.5rem;
}
.google-img p{
    font-size: 1.5rem;
    font-weight: 500;
    opacity:70%;
    margin-left: 1rem;
}
.google-points{
    display: flex;
    align-items: center;
}
.google-star span{
    font-size: 34px;
    color: gold;
}
.review-button{
    font-size: 1rem;
    font-weight: 500;
    color:whitesmoke;
    background-color:var(--main);
    padding:1rem;
    border-radius: 5rem;
}

/*Блок с слайдером*/

.google-reviews-slider{
    padding:1rem;
    max-width: 98%;
    margin:auto
}
.google-review-block
{
    border-radius: 2rem;
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: solid 1px var(--accent)
}
.google-review-block img{
    max-width: 5rem;
}
.google-user-info{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-bottom: 1rem;
}
.google-user-name{
    font-size: 1.25rem;
    font-weight: 500;
    padding:0.5rem;
}
.google-user-review{
    opacity: 70%;
}
.google-user-link, .google-user-link a{
    text-align: center;
    text-decoration: underline;
    color:blue;
    padding:0.5rem 0;
}

/* @media (max-width: 1000px) {
    .google-rating {

    }
} */