#hamburger {
  display: inline-block;
}
.line {
  display: block;
  background-color: var(--text);
  height: 3px;
  width: 25px;
  margin: 5px auto;
  transition: 0.3s ease-out;
}
#hamburger.active .line:nth-child(2) {
  opacity: 0;
}
#hamburger.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#hamburger.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

header {
  position: fixed;
  width: 98%;
  left:50%;
  transform: translate(-50%, 0%);
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 19px 0px #00000050;
  z-index: 100;
  margin-top: 0.5rem;
  border-radius: 20px;
}

.language-switcher {
  list-style: none;
  padding: 0.5rem 0.5rem;
  background-color: lightgrey;
  border-radius: 5px;
  position: relative;
  align-self: flex-start;
}
.language-switcher li:nth-child(2){
  display:none;
}
.language-switcher:hover li:nth-child(2){
  display:block
}
.language-switcher li a {
  margin-top:10px;
  display: flex;
}
.language-switcher li a img{
  width: 15px;
  height: 15px;
}
.telegram-header img {
  width: 30px;
}
.telegram-header {
  padding: 0 0.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 5rem;
}
/* LOGO */
nav a img {
  width: 200px;
}
#nav-links {
  display: none;
  padding: 1rem;
  flex-direction: column;
  position: fixed;
  height:calc(100vh - 7.5rem);
  gap:1rem;
  width: 100%;
  align-items: center;
  top: 5.5rem;
  left: 0;
  background-color: whitesmoke;
  z-index: 10000;
  font-weight: 600;
  font-size: 1rem;
  list-style: none;
  overflow-y: auto;
  border-radius: 15px;
    color:var(--text)
}
#nav-links.active {
  display: flex;
}
#nav-links.active li {
  width: 100%;
  padding: 0.2rem;
}
#services-list, #narcology-list, #kodirovanie-list, #filials-list, #extra-list {
  display: none;
  list-style: none;
}
#services-list.active, #narcology-list.active, #kodirovanie-list.active, #filials-list.active, #extra-list.active {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-left:1rem;
}
@media (min-width: 1400px) {
  header{
      margin-top: 2.75rem;
      max-width: 70%;
  }
  #hamburger {
    display: none;
  }
  nav {
    justify-content: space-around;
    margin: auto;
  }
  #nav-links {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }
  #nav-links li a:hover {
    transition: 0.1s;
    color: gray;
    border-bottom: 3px solid var(--accent);
    border-radius: 2px;
  }
  #filials {
    cursor: pointer;
  }
  #filials:hover + #filials-list,
  #filials-list:hover,
  #services:hover + #services-list,
  #services-list:hover,
    #extra:hover + #extra-list,
  #extra-list:hover,
    #narcology:hover + #narcology-list,
  #narcology-list:hover,
  #kodirovanie:hover + #kodirovanie-list,
  #kodirovanie-list:hover
    {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    background-color: whitesmoke;
    border: 1px solid var(--accent);
    height: 15rem;
    border-radius: 10px;
    top: 3.25rem;
    left:0;
    right: 0;
    width: 98%;
    padding: 1rem 8rem;
    margin: 0 auto;
  }
  #extra{
  display: none;
}
}
