/* Картинка справа от формы с номером телефона */
.index-hero-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 17.5rem;
}
.index-hero-text h1{
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.index-hero-text p{
  color:#ffffff;
  text-align: left;
  line-height: 1.5rem;
}

.index-main-image picture{
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-main-image picture img {
  width:50rem;
  max-width: 90%;
  border-radius: 10px;
}
@media (min-width: 1000px) {
.index-hero-text {
    justify-content: center;
}
.index-main-image picture img{
width: 25rem;
}
}

/* Слайдер с акциями на главной странице */
.discounts-block-slider{
  width:72%;
  margin:auto;
  display:flex;
  flex-direction: column;
  padding: 1rem 0;
}
.discounts-block{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discounts-image img{
  width: 70vw;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
@media (max-width: 1000px) {
  .discounts-block-slider{
      width:95%;
  }
  .discounts-block{
    flex-direction: row;
  }
  .discounts-image img{
    width: 90vw
  }

}


/* Бекграунд на последующие 2 блока */

.about-clinic-background{
  background-image: url(/img/circle-scatter-haikei-mob.svg);
  background-position: bottom;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
  position: relative;
}
@media (min-width: 1000px) {
  .about-clinic-background{
    background-image: url(/img/circle-scatter-haikei-pc.svg);
  }
}

/* О клинике */

.about-clinic {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin: auto;
  z-index: 1000;
}
.clinic-description h2 {
  padding: 1.5em 0;
  font-weight: 500;
  display: inline-block;
  position: relative;
  font-size: 23px;
  z-index: 1;
}
.clinic-description h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 30px;
  border-radius: 10px;
  background-color: var(--second);
  left: 0px;
}
.clinic-description p {
  line-height: 1.6rem;
  gap: 4rem;
}
.clinic-img {
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1em;
  flex-direction: column;
}
.clinic-img p {
  width: 60%;
  margin-top: 1rem;
}
.clinic-img img {
  object-fit: contain;
  width: 30%;
  box-shadow: -7px 7px 0px var(--blue);
  border-radius: 0px 10px 0px 0px;
}
@media (min-width: 1000px) {
  .about-clinic {
    max-width: 70vw;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-clinic > * {
    flex: 1;
  }
  .clinic-img {
    margin-top: 1em;
  }
}

/* Направления нашей работы */
.directions{
  max-width: 95%;
  margin: auto;
  padding: 1rem;
}
.directions-header-text{
  text-align: center;
}
.directions-header-text h2, .directions-header-text p{
  display: inline-block;
  padding:0.75rem 0;
  position: relative;
}
.directions-header-text h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 10px;
  border-radius: 10px;
  background-color: var(--second);
  left: 0px;
}
.directions-block{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}
.directions-text{
  height: 7rem;
}
.directions-text h3, .directions-text p{
  color:white;
  padding:0.5rem 1rem;
}
.directions-image{
  display: flex;
  justify-content: space-between;
}
.directions-main-img{
  position: relative;
  left:-16px;
  bottom:-25px;
  width: 12.5rem;
}
.directions-share-img{
  position: relative;
  right: -25px;
  bottom:-30px;
  width: 8rem;
  height: 8em;
  align-self: end;
}
@media (min-width: 720px) {
  .directions{
      max-width:70vw;
  }
  .directions-header-text h2{
  font-size: 2rem;
  }
  .directions-header-text p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

}



/* Приемущества (Из старой версии сайта, сначала ПК версия)*/

.benefits {
  height: auto;
  background-color: var(--main);
  padding: 5vh;
  max-width: 70vw;
  margin: auto;
  border-radius: 10px;
}
/* .benefits h2 {
  display: block;
  text-align: center;
  padding: 1em;
  color: white;
  font-weight: 500;
  position: relative;
} */
.benefits-сontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
.benefits-block {
  width: 25rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  border-radius: 10px;
  padding: 1em;
  background-color: white;
}
.benefits-block img {
  width: 7rem;
  align-self:center;
  position: relative;
}
.benefits-blocktitle {
  font-size:1.25rem;
  text-align: center;
  font-weight: 600;
  padding: 0.5em;
}
.benefits-descrip {
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 1300px) {
  .benefits {
    height: auto;
    max-width: 100%;
  }
  .benefits-сontainer {
    justify-content: space-between;
    flex-direction: column;
  }
  .benefits-block {
    width: 85%;
    height: auto;
  }
}

/* Убедим лечиться блок */

.convince{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  gap:0.5rem;
}
.convince-image{
  background: var(--second);
  position: relative;
  height: 20rem;
  width: 98%;
  border-radius: 3rem;
}
.convince-image img{
  height: 22rem;
  position: absolute;
  left:0;
  right: 0;
  bottom:0;
  margin: 0 auto;
}
.convince-content{
  height: 20rem;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: whitesmoke;
  border-radius: 3rem;
  padding:2rem;
  border: 1px solid var(--second);
  font-weight: 600;
}
.convince-content a{
  background-color: var(--main);
  color:white;
  border-radius: 2rem;
  padding:1rem;
  text-align: center;
  font-weight: 600;
}

@media (min-width: 1300px){
  .convince{
    max-width: 70%;
    flex-direction: row;
  }
  .convince-image{
    width: 50%;
    justify-self: flex-start;
    transform: translateY(2rem);
  }
  .convince-content{
    width: 50%;
    transform: translateX(-5rem);
  }

}
/* Выезд нашего врача к вам домой (Из старой версии сайта, сначала ПК версия) */

.home-doctor {
  padding:1rem 0;
  height: auto;
  max-width: 70%;
  margin: auto;
  text-align: center;
}
.home-doctor h2 {
  display: inline-block;
  padding: 1em 0;
  position: relative;
}
.home-doctor h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
.home-doctor-container {
  display: flex;
}
.home-doctor-img {
  width: 200em;
  margin-right: 2em;
  align-self: center;
}
.home-doctor-img img {
  object-fit: contain;
  width: 100%;
  margin-bottom: 1em;
  box-shadow: 10px 10px 0px var(--main);
  border-radius: 10px 0px 0px 0px;
}
.home-doctor-container p {
  line-height: 1.5em;
  text-align: left;
}
@media (max-width: 768px) {
  .home-doctor {
    height: auto;
    max-width: 95%;
  }
  .home-doctor-container {
    flex-direction: column;
  }
  .home-doctor-img {
    width: auto;
  }
  .home-doctor-img img {
    width: 100%;
  }
}
