.latest-news-container{
    max-width: 70vw;
    margin: auto;
    padding-bottom: 1em;
    text-align: center
}
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.latest-news-card {
    width: 30%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.latest-news-title{
    padding:0.75rem;
}

.latest-news-image {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem 0 0 0;
}
.latest-news-image img{
    object-fit: fill;
}
.latest-news-btn {
    display: block;
    margin: auto;
    width: 12em;
    padding: 1em;
    background-color: var(--blue);
    color: whitesmoke;
    border-radius: 5px;
}
.latest-news-btn:hover {
    background-color: whitesmoke;
    border: 1px solid var(--blue);
    color: var(--blue);

}
.latest-news-btn:active {
    background-color: var(--blue);
    color: whitesmoke;
}

@media (max-width: 1400px) {
    .latest-news-card {
        width: 28%;
    }
}

@media (max-width: 1000px) {
    .latest-news-card {
        width: 100%;
    }
}