.preheader {
  position: fixed;
  bottom:0.25rem;
  background: whitesmoke;
  border: 1px solid var(--accent);
  width: 95%;
  border-radius: 10px;
  padding:0.75rem;
  z-index: 100;
  vertical-align: middle;
  left: 50%;
  transform: translate(-50%, 0%);
}
.preheader-centring{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.preheader-hours{
  display: none;
}
.preheader-button{
  display: none;
}
.preheader-numbers{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}
.preheader-numbers a{
  color:black;
}
.preheader-numbers a img{
  width: 15px;
filter: brightness(0) saturate(100%) invert(33%) sepia(63%) saturate(448%) hue-rotate(109deg) brightness(91%) contrast(90%);
}
.preheader-list{
  display: none;
}

@media (min-width: 1000px){
  .preheader-centring{
    max-width: 70%;
    margin: auto;
  }
  .preheader{
    bottom:auto;
    top:0;
    width: 100%;
    background: whitesmoke;
    box-shadow: 10px 10px 10px whitesmoke;
    border: none;
  }
  .preheader-hours{
    display: block;
    color:#222;
    font-size: 12px;
    font-weight: 600;
  }
  .preheader-numbers a{
    color:#222;
    font-size: 12px;
    font-weight: 600;
  }
  .preheader-list{
    display: block;
  }
  .preheader-list ul{
    display: flex;
    list-style: none;
  }
  .preheader-list ul li{
    font-size: 12px;
    font-weight: 600;
  }
  .preheader-list ul li a{
    margin-right:0.5rem;
  }
}