/* Отзывы на главной странице*/
.reviews {
  height: auto;
  max-width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 1.5em;
}
.reviews h2 {
  padding: 1em 0;
  display: inline-block;
  position: relative;
}
.reviews h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
.reviews-container {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);  */
  /* gap: 1em;
  margin: 10px auto;
  width: auto; */
}
/* .reviews-column1 {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding-bottom: 0.5em;
}
.reviews-column2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
} */
.reviews-block {
  font-size: 14px;
  border: 1px solid grey;
  padding: 0.5em;
  border-radius: 5px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviews-name-rate {
  display: flex;
  justify-content: space-between;
  padding: 0.3em 0;
}
.reviews-name-rate p {
  color: gray;
  font-size: 0.8rem;
}
.reviews-name-rate img {
  height: 1em;
  width: auto;
}
.reviews-disclaimer p {
  opacity: 50%;
  font-size: 0.7rem;
  text-align: center;
  padding: 0.3em 0;
  cursor: pointer;
}
.reviews-text p{
  line-height: 1.4rem;
}
dialog {
  border-radius: 10px;
  padding: 1.6rem;
  margin: auto;
}
dialog form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
dialog form input{
  width: 50%;
}
dialog form textarea{
  width: 50vw;
  height: 50vh;
}
dialog button{
  padding:0.5rem;
  margin-top: 0.4rem;
  background-color: #1d5d9b50;
  border:none;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .reviews {
    max-width: 95%;
    height: auto;
  }
  .reviews-container {
    grid-template-columns: repeat(1, 1fr);
  }
  dialog form textarea{
    width: 50vw;
    height: 30vh;
  }
}