/* Наши спецалисты */
.doctors-container {
  max-width: 70vw;
  height:auto;
  padding-bottom: 2em;
  overflow-x: hidden;
  margin: auto;
}
.doctors {
  margin: auto;
  text-align: center;
}
.doctors h2 {
  padding: 1em 0em;
  display: inline-block;
  position: relative;
}
.doctors h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: var(--second);
  left: 0px;
}
/* swiper-slide */
.doctor-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.doctor-block img {
  object-fit: fill;
  height: auto;
  width: 90%;
  box-shadow: -3px 3px 0px var(--blue);
  border-radius: 0 10px 0 0;
  margin-bottom:10px;
}
.doctor-name{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--blue)
}
@media (max-width: 768px) {
  .doctors-container{
    max-width: 98%;
  }
  .doctors {
    height: auto;
    max-width: 95%;
  }
  .doctor-block img {
    width: 95%;
  }
  /* .doctors-container {
    flex-direction: column;
    align-items: center;
  } */
}