.main-consult {
  display: flex;
}
.main-consult input {
  border-radius: 5px;
  padding: 0.5em;
  margin-right: 0.3em;
  border: 1px grey solid;
}
.main-consult button {
  background-color: var(--second);
  padding: 0.5em;
  border-radius: 5px;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.main-consult button:hover {
  background-color: var(--accent);
  transform: translateY(-1px);
}
#success {
  color: orange;
  font-weight: 600;
  padding: 0.5em;
  display: none;
}