<div class="cities-carousel-container">
  <h2>Города, в которых мы работаем</h2>
  <section id="cities-carousel" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="city-block splide__slide">
          <a href="/kiev"
            ><img src="/img/slider-gorodov/kiev.webp" alt="kiev"
          /></a>
          <p><b>Киев</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/lechenie-alc"
            ><img src="/img/slider-gorodov/odessa.webp" alt="odessa"
          /></a>
          <p><b>Одесса</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/lviv"
            ><img src="/img/slider-gorodov/lviv.webp" alt="lviv"
          /></a>
          <p><b>Львов</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/kharkiv"
            ><img src="/img/slider-gorodov/kharkiv.webp" alt="kharkiv"
          /></a>
          <p><b>Харьков</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/dnepr"
            ><img src="/img/slider-gorodov/dnepr.webp" alt="dnepr"
          /></a>
          <p><b>Днепр</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/zaporozje"
            ><img src="/img/slider-gorodov/zaporozhe.webp" alt="zaporozhe"
          /></a>
          <p><b>Запорожье</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/cherkasy"
            ><img src="/img/slider-gorodov/cherkasy.jpg" alt="cherkasy"
          /></a>
          <p><b>Черкассы</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/chornomorsk"
            ><img src="/img/slider-gorodov/chornomorsk.webp" alt="zaporozhe"
          /></a>
          <p><b>Черноморск</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/kamenskoe"
            ><img src="/img/slider-gorodov/kamenskoe.webp" alt="zaporozhe"
          /></a>
          <p><b>Каменское</b></p>
        </li>
      </ul>
    </div>
    <p style="color: grey">Нажмите на ваш город</p>
  </section>
</div>
