<div class="cities-carousel-container">
  <h2>Міста в яких ми працюємо</h2>
  <section id="cities-carousel" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="city-block splide__slide">
          <a href="/uk/kiev"
            ><img src="/img/slider-gorodov/kiev.webp" alt="kiev"
          /></a>
          <p><b>Київ</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/uk/lechenie-alc"
            ><img src="/img/slider-gorodov/odessa.webp" alt="odessa"
          /></a>
          <p><b>Одеса</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/uk/lviv"
            ><img src="/img/slider-gorodov/lviv.webp" alt="lviv"
          /></a>
          <p><b>Львів</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/uk/kharkiv"
            ><img src="/img/slider-gorodov/kharkiv.webp" alt="kharkiv"
          /></a>
          <p><b>Харків</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/uk/dnepr"
            ><img src="/img/slider-gorodov/dnepr.webp" alt="dnepr"
          /></a>
          <p><b>Дніпро</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/uk/zaporozje"
            ><img src="/img/slider-gorodov/zaporozhe.webp" alt="zaporozhe"
          /></a>
          <p><b>Запоріжжя</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/uk/cherkasy/"
            ><img src="/img/slider-gorodov/cherkasy.jpg" alt="cherkasy"
          /></a>
          <p><b>Черкаси</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/uk/chornomorsk"
            ><img src="/img/slider-gorodov/chornomorsk.webp" alt="zaporozhe"
          /></a>
          <p><b>Чорноморськ</b></p>
        </li>
        <li class="city-block splide__slide">
          <a href="/uk/kamenskoe"
            ><img src="/img/slider-gorodov/kamenskoe.webp" alt="zaporozhe"
          /></a>
          <p><b>Кам'янське</b></p>
        </li>
      </ul>
    </div>
    <p style="color: grey">Натисність на ваше місто</p>
  </section>
</div>
