<div class="doctors">
  <h2>Наші спеціалісти</h2>
  <section id="doctors-carousel" class="doctors-container splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-olga.jpg"
            alt="team-person1.1"
          />
          <p class="doctor-name">Аврамов Олега Григоріївич</p>
          <p class="doctor-descr">Лікар нарколог - стаж 22 роки.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-kost.jpg"
            alt="team-person1.2"
          />
          <p class="doctor-name">Богоденко Константин Сергійович</p>
          <p class="doctor-descr">Лікар хірург - стаж 8 років.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-elena.jpg"
            alt="team-person1.3"
          />
          <p class="doctor-name">Демедюк Олена Вікторівна</p>
          <p class="doctor-descr">Медичний координатор</p>
        </li>
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-arthur.jpg"
            alt="team-person1"
          />
          <p class="doctor-name">Петросян Олена Артурiвна</p>
          <p class="doctor-descr">Лікар нарколог - стаж 7 років.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-oleg.jpg"
            alt="team-person2"
          />
          <p class="doctor-name">Бантковська Ольга В'ячеславовiвна</p>
          <p class="doctor-descr">Лікар анастезіолог - стаж 6 років</p>
        </li>
        <li class="doctor-block splide__slide">
          <img
            src="/img/doctors-from-slider/ddoc-maria.jpg"
            alt="team-person3"
          />
          <p class="doctor-name">Коновалов Максим Сергійович</p>
          <p class="doctor-descr">Медичний координатор</p>
        </li>
      </ul>
    </div>
  </section>
</div>
