<div class="doctors">
  <h2>Наши спецалисты</h2>
  <section id="doctors-carousel" class="doctors-container splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="doctor-block splide__slide">
          <div class="doctors-photo-exp">
            <div class="doctors-photo-container">
            <img src="/img/doctors-from-slider/doc1.jpg" alt="doc1" /></div>
            <p>Стаж 22 года</p>
          </div>
          <div class="doctor-name-prof">
            <h3>Аврамов Олег Григорьевич</h3>
            <p>Врач нарколог</p>
          </div class="doctor-button">
          <div><a href="">Задать вопрос</a></div>
        </li>
        {{/*  <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc1.jpg" alt="team-person1.1" />
          <p class="doctor-name">Аврамов Олег Григорьевич</p>
          <p class="doctor-descr">Врач нарколог - стаж 22 года.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc2.jpg" alt="team-person1.2" />
          <p class="doctor-name">Богоденко Костянтин Сергiйович</p>
          <p class="doctor-descr">Врач хирург - стаж 8 лет.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc3.jpg" alt="team-person1.3" />
          <p class="doctor-name">Демедюк Елена Викторовна</p>
          <p class="doctor-descr">Медицинский координатор</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc4.jpg" alt="team-person1" />
          <p class="doctor-name">Петросян Елена Артуровна</p>
          <p class="doctor-descr">Врач нарколог - стаж 7 лет.</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc5.jpg" alt="team-person2" />
          <p class="doctor-name">Бантковская Ольга Вячеславовна</p>
          <p class="doctor-descr">Врач анастезиолог - стаж 6 лет</p>
        </li>
        <li class="doctor-block splide__slide">
          <img src="/img/doctors-from-slider/doc6.jpg" alt="team-person3" />
          <p class="doctor-name">Коновалов Максим Сергеевич</p>
          <p class="doctor-descr">Медицинский координатор</p>
        </li>  */}}
      </ul>
    </div>
  </section>
</div>
