<header>
  <nav>
    {{ range site.Home.AllTranslations }}
    {{ if eq .Language.Lang site.Language.Lang }}
    <a href="{{ .RelPermalink }}">
      <img src="/img/header-preheader/logo.webp" alt="Logo" />
    </a>
    {{ end }}
    {{ end }}

    <ul class="language-switcher">
      {{ range site.Home.AllTranslations }}
      {{ if eq .Language.Lang site.Language.Lang }}
      <li>
        <a>
          {{ .Language.LanguageName }}
          <img
                  src="/img/header-preheader/down-arrow.png"
                  alt="down-arrow"
                  style="width: 15px; vertical-align: middle"
          />
        </a>
      </li>
      {{ end }}
      {{ end }}
      {{ range site.Home.AllTranslations }}
      {{ if ne .Language.Lang site.Language.Lang }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>

    <a href="https://t.me/umbrellaplus" class="telegram-header">
      <img src="/img/header-preheader/telegram.avif" alt="Telegram" />
    </a>

    <ul id="nav-links">
      {{ range site.Menus.main}}
      <li>
        <a href="{{ .URL }}"
        id="{{ .Identifier }}"
        onclick="event.preventDefault();">
        {{ .Name }}
        {{ if .HasChildren }}
        <img
                src="/img/header-preheader/down-arrow.png"
                alt="down-arrow"
                style="width: 15px; vertical-align: middle"
        />
        {{ end }}
        </a>
        {{ if .HasChildren }}
        <ul id="{{ .Identifier }}-list">
          {{ range .Children }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </li>
      {{ end }}
    </ul>

    <div id="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>
</header>
