<div class="preheader">
  <p class="preheader-hours">
    Бесплатная консультация, работаем круглосуточно 24/7
  </p>
  <div class="preheader-numbers">
      <a href="tel:+380687972782"
        ><img src="/img/header-preheader/telephone.avif" alt="phonenum" />+38(068) 79 72 782</a
      >
      <a href="tel:+380500216957"
        ><img src="/img/header-preheader/telephone.avif" alt="phonenum" />+380(50) 021 69
        57</a
      >
  </div>
  <p>
    <a href="#" class="preheader-button">Бесплатная консультация</a>
  </p>
</div>