<div class="preheader">
  <p class="preheader-hours">
    Безкоштовна консультація, працюємо цілодобово 24/7
  </p>
  <div class="preheader-numbers">
    <p>
      <a href="tel:+380687972782"
        ><img
          src="/img/header-preheader/telephone.avif"
          alt="phonenum"
        />+38(068) 79 72 782</a
      >
    </p>
    <p>
      <a href="tel:+380500216957"
        ><img
          src="/img/header-preheader/telephone.avif"
          alt="phonenum"
        />+380(50) 021 69 57</a
      >
    </p>
  </div>
  <p>
    <a href="#" class="preheader-button">Безкоштовна консультація</a>
  </p>
</div>
