<dialog id="reviewDialog">
  <form method="dialog">
    <label for="text"
      >Ваш відгук буде опубліковано протягом декількох днів:</label
    ><textarea type="text" name="text" id="text"></textarea
    ><label for="rating">Оцінка від 1 до 5</label>
    <input
      type="number"
      inputmode="numeric"
      name="rating"
      id="rating"
      min="1"
      max="5"
    />
  </form>
  <button id="sendBtnDialog">Надіслати відгук</button>
  <button id="closeBtnDialog">Закрити</button>
</dialog>
