<div class="star-rating">
    <span class="star" data-value="1">&#9733;</span>
    <span class="star" data-value="2">&#9733;</span>
    <span class="star" data-value="3">&#9733;</span>
    <span class="star" data-value="4">&#9733;</span>
    <span class="star" data-value="5">&#9733;</span>
</div>
<div id="rating-value">Ваша оценка: <b><span id="rating"></span></b> <br><span><span>{{.Params.ratingAvarage}}</span> (<span id="rating-votes">{{.Params.rating}}</span> проголосовали)</span></div>
<div id="rating-thanks">Благодарим за отзыв. Каждая оценка важна для нас<span id="rating"></span></div>