<div class="reviews">
  {{if in .Site.Language "ru"}}
  <h2>Отзывы пациентов:</h2>
  {{else}}
  <h2>Відгуки пацієнтів:</h2>
  {{end}}
  <section id="card-carousel" class="splide">
    <div class="splide__track">
      <ul class="reviews-container splide__list">
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p class="reviews-text">
            "Никакими усилиями самостоятельно я не смогла преодолеть запой, и
            наступала ломка, сопровождаемая повышенным давлением и пульсом.
            Тогда я решила обратиться за помощью в клинику. Врачи оказали мне
            неоценимую поддержку! Уже прошел месяц, и я не только не употребляю
            алкоголь, но даже не испытываю к нему желания!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Могу с уверенностью порекомендовать данный центр для тех, кто ищет
            помощь при выводе из запоя. Я неоднократно обращался к ним и могу
            сказать, что цена соответствует качеству услуг. После проведения
            капельницы в клинике, вся тяга к алкоголю проходит, и я чувствую
            себя гораздо лучше. Это действительно эффективный метод, и я
            благодарен клинике за их профессионализм и заботу!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Я очень благодарен за то, что вы помогли мне разобраться с моей
            проблемой алкоголизма и найти ее решение. Давно осознавал, что без
            помощи профессионалов я не справлюсь, и я не ошибся, выбрав ваш
            центр Амбрелла. Здесь действительно предоставляется профессиональная
            помощь, которая оказалась для меня реальным спасением. Огромное
            спасибо за вашу поддержку и заботу!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Неоднократно я пытался бросить алкоголь самостоятельно, но каждый
            раз уговаривал себя продолжать. Я сначала ограничивался одной
            бутылкой в день, потом двумя, и в итоге вновь попадал в запой. Но в
            итоге, я смог прекратить употребление алкоголя только после того,
            как обратился в центр Амбрелла и заказал у них услугу вывода из
            запоя. Уже не пью 3 месяца и удалось полностью восстановиться.
            Благодарю врача который меня вел - Алексея Валерьевича"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Здравствуйте! Я хотел бы выразить свою искреннюю благодарность
            клинике за быстрое и профессиональное освобождение моего мужа
            пивного рабства! Ранее у меня уже не было никаких надежд на его
            выздоровление. Однако, благодаря вашим перспективным методам
            лечения, мы теперь идем к полному отказу от алкоголя. Вы дали нам
            новую надежду и оказали неоценимую помощь! Спасибо вам за все!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Я долгое время страдал от запоев и не мог справиться с этой
            проблемой. Однако, когда я обратился в этот центр, они быстро
            помогли мне вернуться на ноги, и самое главное - предоставили мне
            возможность не возвращаться к запоям. Уже почти полгода я не
            испытываю запоев! Это для меня настоящее чудо, я никогда не думал,
            что смогу так преодолеть свои проблемы. Большое спасибо центру
            Амбрелла!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Благодарю ваш центр Амбрелла за оперативное и высококачественное
            лечение! Женский алкоголизм - это настоящее горе, с которым
            невозможно справиться в одиночку. Я уже потеряла надежду, но
            благодаря вашей помощи, она вернулась ко мне! Отдельная
            благодарность врачу Станиславу Вячеславовичу, а также благодарность
            Богу за то, что он послал мне такое чудо как ваша центр! Спасибо вам
            всем!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Хочу выразить благодарность врачу Владиславу Алексеевичу за то, что
            вы избавили меня от этого ужаса. Я уже был в отчаянии, перепробовал
            множество клиник и центров, но только здесь я наконец получил
            настоящую помощь! Алкоголь полностью разрушил меня, и если бы не
            ваша помощь, я, возможно, уже не был бы жив. С вами я смог вернуть
            себе жизнь и буду благодарен вам всегда!"
          </p>
        </li>
      </ul>
    </div>
  </section>
  <div class="reviews-disclaimer">
    <a id="openDialog">
      {{if in .Site.Language "ru"}}
      <p>Нажмите если желаете оставить анонимный отзыв</p>
       {{else}}
      <p>Натисніть, якщо бажаєте залишити анонімний відгук</p>
      {{end}}</a
    >
    {{if in .Site.Language "ru"}} {{partial
    "reviews-dialog.html"}}{{else}}{{partial "reviews-dialog-ua.html"}}{{end}}
  </div>
</div>
