<div class="reviews">
  {{if in .Site.Language "ru"}}
  <h2>Отзывы пациентов:</h2>
   {{else}}
  <h2>Відгуки пацієнтів:</h2>
  {{end}}
  <section id="card-carousel" class="splide">
    <div class="splide__track">
      <ul class="reviews-container splide__list">
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="//img/rating.png" alt="" />
          </div>
          <p class="reviews-text">
            "Ну в хлопців просто золоті руки й світла голова, мене капали
            Олексій та Владислав, буквально за декілька сеансів я наче заново
            народився, до цього пив більше 3х тижнів, не міг зупинитись, дуже
            радий що знайшов саме цих спеціалістів, всім рекомендую"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="//img/rating.png" alt="" />
          </div>
          <p>
            "В течение нескольких лет я злоупотреблял алкоголь, что привело к
            увольнению с работы и вызвало у меня мысли о суициде. Понимая, что
            такой образ жизни неприемлем, я обратился за помощью в клинику
            "Амбрела". Здесь я смог преодолеть свою зависимость от спиртного
            благодаря заботливым и опытным врачам, а также эффективной системе
            лечения. Спустя более года я полностью избавился от желания
            употреблять алкоголь, и теперь моя жизнь вернулась в норму. Я даже
            не приближаюсь к спиртному! Благодарю врачей клиники "Амбрела" за их
            помощь и заботу."
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="//img/rating.png" alt="" />
          </div>
          <p>
            "Я обращался за помощью в различные клиники, пытаясь избавиться от
            своей зависимости от алкоголя, но без особых успехов. Никак не мог
            справиться с желанием прибегнуть к бутылке, пока друг не посоветовал
            мне обратиться в центр "Амбрелла". Я записался на прием и был
            поражен заботливым отношением к пациентам. Уже прошло два года, и
            теперь я смотрю на алкоголь с абсолютной равнодушием, активно
            занимаюсь спортом и улучшил отношения в семье. Благодаря центру
            "Амбрелла" моя жизнь была спасена от алкогольной зависимости!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Хочу выразить свою благодарность врачам из центра алкоголизма
            "Амбрела" за то, что они буквально спасли мою жизнь. В течение
            последнего года я сильно увлекался питьем, и все это привело к
            катастрофическим последствиям. Хотя я ходил на терапевтические
            сеансы, но безрезультатно. Тогда я нашел адрес клиники "Амбрела" в
            интернете, изучил отзывы и информацию о центре, и записался на
            прием. Там мне сразу предложили методику лечения, которая помогла не
            только справиться с физической ломкой, но и психической зависимостью
            от алкоголя. Не буду распространяться, скажу только одно - после
            пребывания в этой клинике я стал другим человеком, и навсегда забыл,
            что такое привкус алкоголя. Больше меня не тянет на это! Я искренне
            верю, что в центре "Амбрела" трудятся настоящие целители душ!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "После сложного развода мой сын начал подавлять свою обиду и горе
            употреблением алкоголя. Он старался скрывать это от меня, но я, как
            мать, почувствовала, что что-то не так. В конечном итоге, ситуация
            стала критической. Моя знакомая посоветовала мне обратиться в
            клинику "Амбрела". Я была приятно удивлена их работой! Они помогли
            сыну преодолеть очередной период злоупотребления алкоголем, и с тех
            пор прошел уже более года, и он совсем не пьет."
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Благодаря вашей помощи, моя семья была спасена. Я с трудом
            уговорила мужа начать лечение, и последний каплей был пьяное ДТП. К
            счастью, в аварии никто не пострадал, но это был для него сигнал к
            действию. Он наконец согласился пройти курс лечения на дому, в
            стационар не хотел ложиться. Лечение было трудным, и были моменты,
            когда срыв был настолько близок, но благодаря вашему центру Амбрелла
            мы справились с этим."
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Для меня эта клиника стала настоящим спасением! Долгое время я
            упорно отказывался от лечения, уверен был, что со мной все в
            порядке. Но к счастью, семья уговорила меня попробовать. И сегодня я
            чувствую себя невероятно счастливым, осознавая, что мне абсолютно не
            нужен алкоголь. Огромное спасибо за помощь и поддержку, которые я
            получил здесь! Я благодарен вам за новую возможность жить
            полноценной и счастливой жизнью!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Выражаю благодарность ребятам, которые оказали мне помощь и не
            отвернулись. Уже 10 месяцев я остаюсь чистой. Благодарю за то, что
            помогли найти новый путь в моей жизни."
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>
<div class="reviews-disclaimer">
  <a id="openDialog">
    {{if in .Site.Language "ru"}}
    <p>Нажмите если желаете оставить анонимный отзыв</p>
     {{else}}
    <p>Натисніть, якщо бажаєте залишити анонімний відгук</p>
    {{end}}</a
  >
  {{if in .Site.Language "ru"}} {{partial
  "reviews-dialog.html"}}{{else}}{{partial "reviews-dialog-ua.html"}}{{end}}
</div>
