<div class="reviews">
  {{if in .Site.Language "ru"}}
  <h2>Отзывы пациентов:</h2>
   {{else}}
  <h2>Відгуки пацієнтів:</h2>
  {{end}}
  <section id="card-carousel" class="splide">
    <div class="splide__track">
      <ul class="reviews-container splide__list">
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p class="reviews-text">
            "Викликала своєму батьку який пив біля місяця, він нажаль дуже
            запойний, але хлопцям вдалось його скажімо так "оживити" і він
            навіть погодився на кодування, пишу відгук через 2 тижня після
            кодування, все чудово.Спочатку дуже скептично відносилась але хлопці
            себе виправдали. Займались нами Станіслав І Михайло, Дякую вам!!!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Когда у вас сильная алкогольная зависимость, вы не только не можете
            жить, но даже не представляете, что существует какой-либо смысл и
            интерес в жизни без алкоголя. Это чувство очень хорошо понимают все
            зависимые люди. Однако сейчас я могу не просто жить без спиртного, я
            могу наслаждаться жизнью, испытывать радость и интерес. Мне помогла
            процедура кодирования. Я не пью уже около года, и в будущем планирую
            повторить эту процедуру."
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Выражаю благодарность врачам за превосходный результат лечения!
            Честно говоря, я сомневался до последнего, что кодирование сможет
            помочь мне. Ранее я обратился в другой центр, и подход врача и
            процесс кодирования были совершенно иными, что привело к
            неудовлетворительному результату. Из этого опыта я сделал вывод:
            всегда ищите надежного специалиста!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "После многолетней безуспешной борьбы с алкоголизмом, я обратилась к
            доктору Кресюн С.С. Мне 43 года, у меня высшее образование, есть муж
            и я являюсь матерью двоих детей. На первый взгляд, моя жизнь была
            удачной, но тем не менее, у меня развился запойный алкоголизм. Я
            неоднократно проходила лечение в различных реабилитационных центрах,
            обращалась к разным врачам и посещала анонимных алкоголиков. Я
            старалась изо всех сил не пить, но тяга к алкоголю была
            непереносимой. Несмотря на все мои усилия, вновь наступал запой.
            Знакомые посоветовали закодироваться, и после изучения данной темы,
            я нашла доктора Кресюна. Сейчас я уже три месяца трезва, и тяги к
            алкоголю у меня совсем нет. Это для меня настоящее чудо. Я просто
            живу!"
          </p>
        </li>
        <!-- </div>
    <div class="reviews-column2"> -->
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Опытный нарколог Станислав Вячеславович провел кодирование от
            алкоголизма в феврале. Теперь уже почти год прошел, и я не
            употребляю алкоголь. Завтра я собираюсь приехать на закрепление
            результатов, и хочу выразить свою искреннюю благодарность доктору за
            помощь и поддержку в этом нелегком процессе."
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Благодаря вашему центру, моего сына успешно закодировали от
            алкогольной зависимости, и уже полтора года он не пьет. Я искренне
            признательна руководителю центра, Кресюну Станиславу Вячеславовичу,
            за его помощь и поддержку. Его профессионализм и забота помогли
            вернуть сыну здоровую и трезвую жизнь, и я не могу не выразить ему
            огромную благодарность за все, что он сделал для нашей семьи."
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Алкоголизм - не приговор, и важно не терять надежду и продолжать
            искать различные способы лечения. В случае с вашим мужем,
            кодирование в центре "Амбрелла". помогло ему справиться с
            алкогольной зависимостью уже после всего одного индивидуального
            сеанса. После прекращения употребления алкоголя, у него появилось
            много энергии и сил, которые он стал направлять в правильное русло.
            Теперь он даже устроился на работу. Это замечательные результаты, и
            я рада за своего мужа и за нашу семью!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Очень повезло, что нашел такого замечательного специалиста! После
            кодирования от алкоголизма прошло чуть больше месяца, и сегодня был
            на закреплении. Отлично, что теперь не испытываю желания
            пристраситься к алкоголю. Надеюсь, что востановлюсь на работе и
            смогу уделить больше времени своей семье. Благодаря помощи
            Станислава Вячеславовича, смог начать новую главу в своей жизни, и
            за это огромное спасибо ему!
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>
<div class="reviews-disclaimer">
  <a id="openDialog">
    {{if in .Site.Language "ru"}}
    <p>Нажмите если желаете оставить анонимный отзыв</p>
     {{else}}
    <p>Натисніть, якщо бажаєте залишити анонімний відгук</p>
    {{end}}</a
  >
  {{if in .Site.Language "ru"}} {{partial
  "reviews-dialog.html"}}{{else}}{{partial "reviews-dialog-ua.html"}}{{end}}
</div>
