<div class="reviews">
  {{if in .Site.Language "ru"}}
  <h2>Отзывы пациентов:</h2>
   {{else}}
  <h2>Відгуки пацієнтів:</h2>
  {{end}}
  <section id="card-carousel" class="splide">
    <div class="splide__track">
      <ul class="reviews-container splide__list">
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p class="reviews-text">
            "Дуже довго не міг самостійно позбавитися залежності, тому зважився
            на підшивку. Процедура пройшла успішно, і з того часу я навіть не
            думаю про спиртне. Страх перед можливими наслідками допомагає
            триматися на плаву, а підтримка фахівців – величезна підмога у цьому
            нелегкому шляху. Центр надає як фізичну, а й моральну допомогу.
            Вдячний їм за другий шанс."
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Решила сделать укол от алкоголизма по рекомендации подруги, которая
            проходила эту процедуру в этом же центре. Я сомневалась, но врачи
            всё объяснили, успокоили. После укола не чувствую тяги к алкоголю,
            хотя раньше сложно было представить день без выпивки. Сейчас
            наслаждаюсь трезвостью, чувствую себя намного лучше."
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Я никогда не думал, что психологическое воздействие может настолько
            сильно повлиять на мою жизнь. Врач помог осознать всю серьезность
            ситуации, и теперь алкоголь не вызывает у меня никакого интереса.
            Процедура безопасна и эффективна, рекомендую тем, кто хочет
            по-настоящему изменить свою жизнь."
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Я прошла кодирование гипнозом, и это было удивительное переживание.
            Во время сеанса я почувствовала глубокое расслабление, а потом –
            будто внутри что-то изменилось. Сейчас я свободна от алкоголя и
            наслаждаюсь этим состоянием. Благодарю центр за профессионализм и
            заботу! Отдельная благодарность Станиславу Вячеславовичу"
          </p>
        </li>
        <!-- </div>
    <div class="reviews-column2"> -->
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Чесно кажучи, боявся рецидиву, але з процедури минуло півроку, і я
            навіть не думаю про випивку. Життя почало змінюватися на краще.
            Дякуємо лікарям за підтримку та мотивацію!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Після багаторічної боротьби із залежністю вирішила звернутись в
            клінку. Спочатку переживала, але лікарі дуже докладно розповіли про
            процес та можливі наслідки. Зараз я не п'ю вже 8 місяців і почуваюся
            чудово. Я така щаслива, що знайшла цей центр і знайшла контроль над
            своїм життям."
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Метод Долженко казался мне странным, но я решил попробовать.
            Оказалось, что это не просто кодировка, а глубокая работа с
            психикой. Это позволило мне кардинально изменить отношение к
            алкоголю. Уже год я не пью, и не планирую возвращаться к прежней
            жизни. Простое человеческое спасибо!"
          </p>
        </li>
        <li class="reviews-block splide__slide">
          <div class="reviews-name-rate">
            <p>Анонимно</p>
            <img src="/img/rating.png" alt="" />
          </div>
          <p>
            "Гипноз помог мне избавиться от постоянной тяги к алкоголю. После
            сеансов я заметила, что стала спокойнее и увереннее в себе. Теперь
            алкоголь меня больше не интересует. Центр мне очень помог, и я
            благодарна за их заботу и поддержку."
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>
<div class="reviews-disclaimer">
  <a id="openDialog">
    {{if in .Site.Language "ru"}}
    <p>Нажмите если желаете оставить анонимный отзыв</p>
     {{else}}
    <p>Натисніть, якщо бажаєте залишити анонімний відгук</p>
    {{end}}</a
  >
  {{if in .Site.Language "ru"}} {{partial
  "reviews-dialog.html"}}{{else}}{{partial "reviews-dialog-ua.html"}}{{end}}
</div>
